# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
.vscode/
*.iml

# Android
android/app/google-services.json
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework

# Variáveis de ambiente
.env